html{
    background-color: black
}
body{
    text-align: center;
    font-family: Bahnschrift;
    color: white;;
    background-color: black;
}
.parent{
    display: flex;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 5px 5px 10px black;
    border: 2px solid black;
    width: 600px;
    margin: auto;
}
.parent:hover{
    box-shadow: 1px 1px 30px whitesmoke;
    transition-duration: 1000ms;
}
.btn{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.btn:hover{
    transition-duration: 100ms;
}
.yellow{
    background-color: #f99b45;
}
.yellow:hover{
    box-shadow: 2px 2px 10px #f99b45;
}
.green{
    background-color: #63aac0;
}
.green:hover{
    box-shadow: 2px 2px 10px #63aac0;
}
.red{
    background-color: #d95980;
}
.red:hover{
    box-shadow: 2px 2px 10px #d95980;
}
.purple{
    background-color: #819ff9;
}
.purple:hover{
    box-shadow: 2px 2px 10px #819ff9;
}
.master{
    border: 5px solid white;;
    height: 850px;
    width: 650px;
    margin: auto;
}

.flash{
    background-color: azure;
    color: maroon;
}
.userFlash{
    background-color: aquamarine;
    color: lime;
}
.gameOver{
    background-color: red;
}